<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculalor result </title>
</head>
<style>
    body {
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMAR6zTvUzMVAenDJ45JyJzS0-HbyI7AG2yxMA7GZ4iu1twVSjjyi3RAljHgZOsifoTVw&usqp=CAU");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;

    }
</style>
<body>
<center><h1>Calculator result</h1></center><br><br>
<center>
Number1--->{{num1}}<br>
Number2--->{{num2}}<br>
<br><br><br><br>
Result--->{{resp}}<br><br>

<br><br>
</form>
</body>
</center>
</html>